{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>

    </tr>
    </thead>
    <tbody>

    {{#boxing}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/boxing}}
    </tbody>
</table>
<a href="/boxing/{{boxing.id}}/edit" class="btn btn-primary">수정</a>
<a href="/boxing/{{boxing.id}}/delete" class="btn btn-dark">삭제</a>
<a href="/boxing" class="btn btn-primary">Go to Boxing List</a>
{{>layouts/footer}}